.menu_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-left: 0;
  background-color: pink;
}

a {
  color: gray;
  text-decoration: none;
  padding: none;
}
 [class*="menu_item"]  {
  font-size: 1em;
  height: 1em;
  font-family: 'Lato', sans-serif;
  background-color: none;
  padding: 1em;

}

.barra_busca {
  display: flex;
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  width: 20%;
  color: gray;
  background-color: white;
  padding: 1em;
  border: 1px solid white;
  border-radius: 10px;
}

/*rodape a partir daqui */

#rodape_container{
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;

}

#rodape_item1{

  font-weight: bold;

}

#rodape_item2{

}

#rodape_item3{
  font-weight: bold;
}

div .redes-sociais{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.redes-sociais img{
  margin: 20px 0 20px 0;
}

#twitter{
  margin-top: -10px;
}
