body{

}

.menu_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 100px; */
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-left: 0;
  background-color: #001F54;
}

a {
  color: gray;
  text-decoration: none;
  padding: none;
}

 [class*="menu_item"]  {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  background-color: none;
  padding: 1em;

}

[class*="menu_item"]:hover {
  color: white;
  background-color: red;
  height: 80px;

}
.barra_busca {
  display: flex;
  justify-content: flex-start;
  font-family: 'Lato', sans-serif;
  width: 20%;
  color: gray;
  background-color: white;
  padding: 1em;
  border: 1px solid white;
  border-radius: 10px;
}

/*conteudo a partir daqui */
.manchete_container1{
  display: flex;
  /* flex-direction: row; valor default*/
  background-image: url("../img/bar.png"), linear-gradient(to left, rgba(0, 0, 0, 1.0), rgba(255, 255, 255, 0.0));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.manchete_container2{
  display: flex;
  /* flex-direction: row; valor default*/
  background-image: url("../img/drinks.png"), linear-gradient(to right, rgba(0, 0, 0, 1.0), rgba(255, 255, 255, 0.0));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.manchete_item{
padding: 10px;
  width: 50vw;
  color: white;
  font-size: calc(1.4vh + 2.4vh); /*Grabriel Morais ninja foda */

}

@media (max-width: 900px){
  .manchete_container{
    flex-direction: column;
  }
}
/*rodape a partir daqui */

#rodape_container{
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  background-color: white;

}

#rodape_item1{

  font-weight: bold;

}

#rodape_item2{

}

#rodape_item3{
  font-weight: bold;
}

div .redes-sociais{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.redes-sociais img{
  margin: 20px 0 20px 0;
}

#twitter{
  margin-top: -10px;
}
